fullnameOverride: vector
role: Aggregator

terminationGracePeriodSeconds: 3

customConfig:
  data_dir: /vector-data-dir
  api:
    enabled: true
    address: 127.0.0.1:8686
    playground: false
  sources:
    internal_metrics:
      type: internal_metrics
    vector:
      address: 0.0.0.0:6000
      type: vector
      version: "2"

  transforms:
    logs:
      type: remap
      inputs:
        - vector
      source: |-
        . = parse_json!(string!(.message))

    network_tx_bytes_counter:
      type: log_to_metric
      inputs:
        - logs
      metrics:
        - type: counter
          field: tx_bytes
          name: egressd_transmit_bytes
          increment_by_value: true
          tags:
            src_pod: '{{ "{{ src_pod }}" }}'
            dst_pod: '{{ "{{ dst_pod }}" }}'
            src_node: '{{ "{{ src_node }}" }}'
            dst_node: '{{ "{{ dst_node }}" }}'
            src_zone: '{{ "{{ src_zone }}" }}'
            dst_zone: '{{ "{{ dst_zone }}" }}'
            src_namespace: '{{ "{{ src_namespace }}" }}'
            dst_namespace: '{{ "{{ dst_namespace }}" }}'
            src_ip: '{{ "{{ src_ip }}" }}'
            dst_ip: '{{ "{{ dst_ip }}" }}'
            proto: '{{ "{{ proto }}" }}'
    network_tx_packets_counter:
      type: log_to_metric
      inputs:
        - logs
      metrics:
        - type: counter
          field: tx_packets
          name: egressd_transmit_packets
          increment_by_value: true
          tags:
            src_pod: '{{ "{{ src_pod }}" }}'
            dst_pod: '{{ "{{ dst_pod }}" }}'
            src_node: '{{ "{{ src_node }}" }}'
            dst_node: '{{ "{{ dst_node }}" }}'
            src_zone: '{{ "{{ src_zone }}" }}'
            dst_zone: '{{ "{{ dst_zone }}" }}'
            src_namespace: '{{ "{{ src_namespace }}" }}'
            dst_namespace: '{{ "{{ dst_namespace }}" }}'
            src_ip: '{{ "{{ src_ip }}" }}'
            dst_ip: '{{ "{{ dst_ip }}" }}'
            proto: '{{ "{{ proto }}" }}'

  sinks:
    prom_exporter:
      type: prometheus_exporter
      inputs: [ internal_metrics ]
      address: 0.0.0.0:9090

#    stdout:
#      type: console
#      inputs:
#        - logs
#      encoding:
#        codec: json

    loki_logs:
      type: loki
      inputs:
        - logs
      endpoint: "http://loki-headless.egressd.svc.cluster.local:3100"
      compression: "snappy"
      encoding:
        codec: json
      labels:
        forwarder: vector
        src_pod: '{{ "{{ src_pod }}" }}'
        src_namespace: '{{ "{{ src_namespace }}" }}'
        src_node: '{{ "{{ src_node }}" }}'
        proto: '{{ "{{ proto }}" }}'
      batch:
        timeout_secs: 5

    counter_metrics:
      type: prometheus_remote_write
      healthcheck: false
      inputs:
        - network_tx_bytes_counter
        - network_tx_packets_counter
      batch:
        timeout_secs: 5
      endpoint: "http://prom-prometheus-server.egressd.svc.cluster.local/api/v1/write"
