apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "egressd.fullname" . }}
  labels:
    {{- include "egressd.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "egressd.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "egressd.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "egressd.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      hostNetwork: true
      {{- if eq .Values.egressd.conntrack "nf"}}
      initContainers:
        - name: egressd-init
          image: busybox:1.35.0
          args:
            - "/bin/echo"
            - "1"
            - "/proc/sys/net/netfilter/nf_conntrack_acct"
      {{- end }}
      containers:
        - name: egressd
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
          {{- if eq .Values.egressd.conntrack "nf"}}
            - mountPath: /hostnet
              name: nf-conntrack
            - mountPath: /hostproc/sys/net/netfilter
              name: netfilter
          {{- end }}
          {{- if eq .Values.egressd.conntrack "cilium"}}
            - mountPath: /sys/fs/bpf
              mountPropagation: HostToContainer
              name: bpf-maps
          {{- end }}
            - mountPath: /var/run/egressd
              name: export-logs
      {{- if .Values.export.enabled }}
        - name: egressd-export
          image: {{.Values.export.image}}
          imagePullPolicy: IfNotPresent
          command:
            - vector
          args:
            - --config
            - /vector/vector-config.yaml
          resources:
            {{- toYaml .Values.export.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.export.securityContext | nindent 12 }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /var/run/egressd
              name: export-logs
              readOnly: true
            - mountPath: /vector
              name: egressd-vector-config
              readOnly: true
      {{- end }}
      dnsPolicy: {{.Values.dnsPolicy}}
      volumes:
      {{- if eq .Values.egressd.conntrack "nf"}}
        - name: nf-conntrack
          hostPath:
            path: /proc/net
        - name: netfilter
          hostPath:
            path: /proc/sys/net/netfilter
      {{- end }}
      {{- if eq .Values.egressd.conntrack "cilium"}}
        - name: bpf-maps
          hostPath:
            path: /sys/fs/bpf
            type: DirectoryOrCreate
      {{- end }}
        - name: export-logs
          hostPath:
            path: /var/run/egressd
            type: DirectoryOrCreate
        - name: egressd-vector-config
          configMap:
            defaultMode: 420
            items:
              - key: vector-config.yaml
                path: vector-config.yaml
            name: {{ include "egressd.fullname" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
