apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "egressd.fullname" . }}
  labels:
    {{- include "egressd.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "egressd.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "egressd.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "egressd.serviceAccountName" . }}
      hostNetwork: true
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: egressd
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          command:
            - "/usr/local/bin/egressd"
          args:
        {{- range $key, $value := .Values.extraArgs }}
        {{- if $value }}
            - "-{{ $key }}={{ $value }}"
        {{- else }}
            - "-{{ $key }}"
        {{- end }}
        {{- end }}
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - mountPath: /sys/fs/bpf
              mountPropagation: HostToContainer
              name: cilium-bpf-maps
            - mountPath: /var/run/egressd
              name: export-logs
            - mountPath: /hostproc/sys/net/netfilter
              name: netfilter
              mountPropagation: Bidirectional
      {{- if .Values.export.enabled }}
        - name: egressd-export
          image: {{.Values.export.image}}
          imagePullPolicy: IfNotPresent
          command:
            - vector
          args:
            - --config
            - /vector/vector-config.yaml
          resources:
            {{- toYaml .Values.export.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.export.securityContext | nindent 12 }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /var/run/egressd
              name: export-logs
              readOnly: true
            - mountPath: /vector
              name: egressd-vector-config
              readOnly: true
      {{- end }}
      dnsPolicy: {{.Values.dnsPolicy}}
      volumes:
        - name: netfilter
          hostPath:
            path: /proc/sys/net/netfilter
        - name: cilium-bpf-maps
          hostPath:
            path: /sys/fs/bpf
            type: DirectoryOrCreate
        - name: export-logs
          hostPath:
            path: /var/run/egressd
            type: DirectoryOrCreate
        - name: egressd-vector-config
          configMap:
            defaultMode: 420
            items:
              - key: vector-config.yaml
                path: vector-config.yaml
            name: {{ include "egressd.fullname" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
